@model ParentsBankWebApp_Group.Models.WishListItem

@{
    ViewBag.Title = "Wish-List Item Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>WishListItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.ownerMailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.ownerMailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.purchased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purchased)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
